Repository DIvanov1ch/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest

fix: overlay position
  src/components/PageHeader/header.scss
Due: prettier --write

feat: add swiper package
  package-lock.json
  package.json
Due: none

fix: update properties type
  src/types/elements.ts
Due: eslint --fix, prettier --write

feat: implement image slider component
  src/components/ImageSlider/image-slider.scss
  src/components/ImageSlider/index.ts
  src/components/ImageSlider/template.html
  src/components/index.ts
  src/styles/abstract/_variables.scss
Due: eslint --fix, prettier --write

docs: add slider example to components page
  src/pages/ComponentsPage/template.html
Due: prettier --write

feat: use image slider on product page
  src/pages/ProductPage/index.ts
  src/pages/ProductPage/product.html
  src/pages/ProductPage/product.scss
Due: eslint --fix, prettier --write

chore: remove routes folder
  src/routes/.gitkeep
Due: none

feat: implement modal component
  src/components/ModalDialog/index.ts
  src/components/ModalDialog/modal.scss
  src/components/ModalDialog/template.html
  src/components/index.ts
Due: eslint --fix, prettier --write

feat: show slider in modal
  src/components/ImageSlider/image-slider.scss
  src/components/ImageSlider/index.ts
Due: eslint --fix, prettier --write

feat: use slider with modal on product page
  src/pages/ProductPage/index.ts
Due: eslint --fix, prettier --write

docs: add modal example to components page
  src/pages/ComponentsPage/index.ts
  src/pages/ComponentsPage/template.html
Due: eslint --fix, prettier --write

fix: examples page
  src/pages/ComponentsPage/code.scss
  src/pages/ComponentsPage/template.html
Due: prettier --write

fix: hide params block
  src/pages/ProductPage/index.ts
  src/pages/ProductPage/product.html
Due: eslint --fix, prettier --write

feat: add change-password method to api file
  src/services/API.ts
Due: eslint --fix, prettier --write

refactor: remove redundant css class
  src/pages/UserProfilePage/css-classes.ts
Due: eslint --fix, prettier --write

feat: add interactive product cards
  src/pages/CatalogPage/index.scss
Due: prettier --write

feat: add css rules for delete address button
  src/pages/UserProfilePage/user-profile.scss
Due: prettier --write

fix: implement correct displaying input errors
  src/constants/index.ts
  src/enums/input-id.ts
  src/pages/UserProfilePage/html-templates/password-popup-template.html
  src/utils/is-valid-value.ts
Due: eslint --fix, prettier --write

feat: implement password change in user profile
  src/pages/UserProfilePage/index.ts
Due: eslint --fix, prettier --write

refactor: use pricebox component in catalogPage and redesign
  src/pages/CatalogPage/index.scss
  src/pages/CatalogPage/index.ts
Due: eslint --fix, prettier --write

refactor: replace template strings with function
  src/pages/UserProfilePage/index.ts
Due: eslint --fix, prettier --write

fix: implement correct password validation
  src/constants/index.ts
  src/constants/pattern.ts
  src/pages/UserProfilePage/html-templates/password-popup-template.html
  src/pages/UserProfilePage/index.ts
  src/utils/is-valid-value.ts
Due: eslint --fix, prettier --write

feat: add breadcrumbs component and delete slogan
  src/pages/CatalogPage/catalog.html
  src/pages/CatalogPage/index.scss
  src/pages/CatalogPage/index.ts
Due: eslint --fix, prettier --write

feat: implement adding and deleting addresses
  src/pages/UserProfilePage/css-classes.ts
  src/pages/UserProfilePage/index.ts
Due: eslint --fix, prettier --write

feat: filter products by category
  src/pages/CatalogPage/catalog.html
  src/pages/CatalogPage/filter-bars.html
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/sort-bars.html
Due: eslint --fix, prettier --write

feat: implement manage addresses
  src/pages/UserProfilePage/html-templates/address-line-template.html
  src/pages/UserProfilePage/html-templates/address-popup-template.html
  src/pages/UserProfilePage/index.ts
Due: eslint --fix, prettier --write

chore: update deploy
  main.css
  main.js
  main.js.LICENSE.txt
Due: none

fix: add warning icons
  src/pages/UserProfilePage/html-templates/password-popup-template.html
  src/pages/UserProfilePage/html-templates/personal-popup-template.html
Due: prettier --write

chore: update deploy
  main.js
Due: none

fix: correct current password validation
  src/constants/pattern.ts
  src/utils/is-valid-value.ts
Due: eslint --fix, prettier --write

fix: storing data in local storage
  src/services/Store.ts
  src/types/MerchStore.ts
Due: eslint --fix, prettier --write

refactor: move function to utils
  src/pages/ProductPage/index.ts
  src/utils/create-element.ts
Due: eslint --fix, prettier --write

fix: loading categories
  src/components/BreadCrumbs/index.ts
  src/components/ProductCategories/index.ts
Due: eslint --fix, prettier --write

feat: implement product card component
  src/components/ProductCard/index.ts
  src/components/ProductCard/product-card.scss
  src/components/ProductCard/template.html
  src/components/index.ts
Due: eslint --fix, prettier --write

feat: use product card on catalog page
  src/pages/CatalogPage/catalog.html
  src/pages/CatalogPage/index.scss
  src/pages/CatalogPage/index.ts
Due: eslint --fix, prettier --write

chore: update deploy
  main.css
  main.js
Due: none

fix: sorting / filtering
  src/pages/CatalogPage/filter-bars.html
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/sort-bars.html
  src/types/Catalog.ts
Due: eslint --fix, prettier --write

fix: refresh token flow
  src/services/API.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.html)
  jest: any of: *.test.ts
