Repository DIvanov1ch/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest

.lintstagedrc.json:

{
    "*.ts": "eslint --fix",
    "*.ts, *.scss, *.html": "prettier --write",
    "*.test.ts": "jest"
}

chore: add test script to lint-staged
  .husky/pre-commit
  .lintstagedrc.json
Due: none

chore: update first.test file
  src/first.test.ts
Due: eslint --fix, jest

feat: add email and password validation errors and submit listener for errors
  src/constants/pattern.ts
  src/pages/login/index.css
  src/pages/login/login.ts
  src/types/enum.ts
Due: eslint --fix

refactor: add better realization
  index.html
  src/index.ts
  src/pages/loginPage/index.css
  src/pages/loginPage/login.ts
Due: eslint --fix

fix: add . to email pattern
  src/constants/pattern.ts
Due: eslint --fix

chore: set prettier for vscode
  .vscode/settings.json
Due: none

chore: reformat code with prettier
  .github/PULL_REQUEST_TEMPLATE/develop.md
  .github/PULL_REQUEST_TEMPLATE/main.md
  README.md
  src/components/PageFooter/footer.html
  src/components/PageFooter/footer.scss
  src/components/PageHeader/header.html
  src/components/PageHeader/header.scss
  src/pages/ErrorPage/error.html
  src/pages/HomePage/home.html
  src/pages/ProjectPage/project.html
  src/styles/abstract/_variables.scss
  src/styles/layout/_page.scss
  src/styles/main.scss
  webpack.config.js
Due: none

fix: add default message
  src/pages/ProjectPage/project.html
Due: none

feat: add html template
  .lintstagedrc.json
  src/pages/LoginPage/index.ts
  src/pages/LoginPage/login.html
  src/pages/LoginPage/login.scss
Due: eslint --fix

feat: add enums for password and emails errors and email pattern
  src/app.ts
  src/constants/pattern.ts
  src/pages/index.ts
  src/types/enums.ts
Due: eslint --fix

feat: add functions for email and password client validation
  src/pages/LoginPage/index.ts
Due: eslint --fix

fix: first email error
  src/types/enums.ts
Due: eslint --fix

refactor: add Page component
  src/pages/ErrorPage/index.ts
  src/pages/HomePage/index.ts
  src/pages/Page/index.ts
  src/pages/ProjectPage/index.ts
Due: eslint --fix

refactor: replace two codeblocks by one function
  src/pages/LoginPage/index.ts
Due: eslint --fix

fix: login router
  src/app.ts
Due: eslint --fix

refactor: class LoginPage for class Page
  src/pages/LoginPage/index.ts
Due: eslint --fix

feat: add page titles
  src/components/BaseComponent/index.ts
  src/components/PageFooter/index.ts
  src/components/PageHeader/index.ts
  src/config.ts
  src/pages/ErrorPage/index.ts
  src/pages/HomePage/index.ts
  src/pages/LoginPage/index.ts
  src/pages/Page/index.ts
  src/pages/ProjectPage/index.ts
  src/types/elements.ts
  src/utils/index.ts
Due: eslint --fix

feat: add state usage example
  src/components/BaseComponent/index.ts
  src/components/LoginBox/index.ts
  src/components/LoginBox/login-box.html
  src/components/LoginBox/login-box.scss
  src/components/PageHeader/header.html
  src/components/PageHeader/header.scss
  src/components/index.ts
  src/pages/TestLoginPage/index.ts
  src/pages/TestLoginPage/template.html
  src/pages/TestLogoutPage/index.ts
  src/pages/TestLogoutPage/template.html
  src/pages/index.ts
  src/services/Router.ts
  src/services/Store.ts
  src/utils/index.ts
Due: eslint --fix

refactor: make router singleton
  src/app.ts
  src/components/BaseComponent/index.ts
  src/components/PageMain/index.ts
  src/components/PageMain/main.scss
  src/components/PageMain/template.html
  src/components/index.ts
  src/services/Router.ts
Due: eslint --fix

feat: add redirect to main page after login/out
  src/pages/TestLoginPage/index.ts
  src/pages/TestLoginPage/styles.scss
  src/pages/TestLoginPage/template.html
  src/pages/TestLogoutPage/index.ts
  src/pages/TestLogoutPage/styles.scss
  src/pages/TestLogoutPage/template.html
  src/utils/index.ts
Due: eslint --fix

feat: integrate login form with CommerceTools authorization service
  src/pages/LoginPage/index.ts
  src/services/API.ts
Due: eslint --fix

feat: implement error handling for failed authentication attempts
  src/assets/icons/alert.svg
  src/pages/LoginPage/index.ts
  src/types/errors.ts
Due: eslint --fix

feat: obtain token for further autorization
  src/services/API.ts
  src/services/Token.ts
Due: eslint --fix

feat: implement input validation on registration
  src/constants/index.ts
  src/constants/pattern.ts
  src/enums/index.ts
  src/pages/LoginPage/index.ts
  src/pages/RegistrationPage/index.ts
  src/pages/RegistrationPage/registration.html
  src/pages/RegistrationPage/registration.scss
  src/pages/index.ts
  src/utils/find-current-age.ts
  src/utils/is-valid-value.ts
Due: eslint --fix

fix: update reg/input-validation
  src/config.ts
  src/constants/index.ts
  src/constants/pattern.ts
  src/enums/index.ts
  src/pages/LoginPage/index.ts
  src/pages/RegistrationPage/css-classes.ts
  src/pages/RegistrationPage/index.ts
  src/pages/RegistrationPage/registration.html
  src/utils/is-valid-value.ts
Due: eslint --fix

refactor: change setCallback method
  src/constants/index.ts
  src/pages/RegistrationPage/index.ts
Due: eslint --fix

feat: add new design for login
  src/assets/icons/eye.png
  src/pages/LoginPage/index.ts
  src/pages/LoginPage/login.html
  src/pages/LoginPage/login.scss
  src/pages/RegistrationPage/registration.html
  src/pages/RegistrationPage/registration.scss
  src/types/errors.ts
Due: eslint --fix

feat: add button for navigation to registration page
  src/pages/LoginPage/index.ts
  src/pages/LoginPage/login.html
  src/pages/LoginPage/login.scss
Due: eslint --fix

feat: implement integration with service (reg)
  src/assets/icons/error.svg
  src/assets/icons/success.svg
  src/config.ts
  src/pages/LoginPage/index.ts
  src/pages/RegistrationPage/css-classes.ts
  src/pages/RegistrationPage/index.ts
  src/pages/RegistrationPage/registration.html
  src/pages/RegistrationPage/registration.scss
  src/services/API.ts
  src/types/custom.d.ts
  src/types/errors.ts
Due: eslint --fix

fix: update zip code validation
  src/config.ts
  src/constants/index.ts
  src/utils/is-valid-value.ts
Due: eslint --fix

refactor: add warning icon
  src/assets/icons/warning-icon.png
  src/constants/index.ts
  src/pages/RegistrationPage/css-classes.ts
  src/pages/RegistrationPage/index.ts
  src/pages/RegistrationPage/registration.html
  src/pages/RegistrationPage/registration.scss
  src/services/API.ts
  src/types/custom.d.ts
Due: eslint --fix

feat: add favicon
  index.html
  src/assets/icons/slickdeals.svg
Due: none

feat: add logo to header
  src/components/PageHeader/header.html
  src/components/PageHeader/header.scss
Due: none

feat: add styles / typography
  index.html
  src/assets/icons/logo.svg
  src/components/PageFooter/footer.html
  src/components/PageFooter/footer.scss
  src/components/PageFooter/index.ts
  src/components/PageHeader/header.html
  src/components/PageHeader/header.scss
  src/components/PageHeader/index.ts
  src/components/PageMain/main.scss
  src/components/ui/.gitkeep
  src/pages/HomePage/home.html
  src/pages/HomePage/home.scss
  src/pages/Page/index.ts
  src/pages/Page/page.scss
  src/styles/abstract/_variables.scss
  src/styles/base/_base.scss
  src/styles/base/_fonts.scss
  src/styles/base/_normalize.scss
  src/styles/base/_typography.scss
  src/styles/layout/_page.scss
  src/styles/layout/_wrapper.scss
  src/styles/main.scss
Due: eslint --fix

feat: let user navigate from error page
  src/pages/ErrorPage/error.html
Due: none

feat: improve home page spacing
  src/pages/HomePage/home.html
  src/pages/HomePage/home.scss
Due: none

feat: replace links to actual pages
  src/components/LoginBox/login-box.html
  src/pages/LoginPage/login.scss
  src/pages/RegistrationPage/registration.scss
Due: none

feat: add timer component
  src/components/TimeOut/index.ts
  src/components/TimeOut/template.html
  src/components/TimeOut/timeout.scss
  src/components/index.ts
Due: eslint --fix

feat: update login/logout examples
  src/pages/HomePage/home.html
  src/pages/LogoutPage/index.ts
  src/pages/LogoutPage/styles.scss
  src/pages/LogoutPage/template.html
  src/pages/TestLoginPage/index.ts
  src/pages/index.ts
  src/services/Router.ts
Due: eslint --fix

fix: add padding to main content
  src/components/PageMain/main.scss
Due: none
